/* assets */ 
@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

@font-face {
    font-family: "Primal";
   src: url("/fonts/Primal.otf") format("opentype");
}

.font-primal {
    @apply font-mono;
    font-family: "Primal";
    /* @apply tracking-tighter; */
    letter-spacing: -0.14em;

}

* {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    /* scroll-padding-top: 5rem; */
    /* scroll-padding-bottom: 5rem; */
}

/* scroll snap if desktop */
@media (min-width: 1023px), (min-height: 913px)  {
    .scroll-snap {
        scroll-snap-align: center;
    }
}

body {
    transition: all 0.5s ease;
    @apply font-mono;
}

/* hide blob animation on mobile */
@media (max-width: 1023px){
    #blob-animation {
        display: none;
    }
}

/* scroll bar */

/* /1* For Firefox *1/ */
/* * { */
/*   scrollbar-width: thin; */
/* } */

/* /1* For other browsers (e.g., Chrome, Edge, Safari) *1/ */
/* ::-webkit-scrollbar { */
/*   width: 5px; */
/* } */

/* ::-webkit-scrollbar-track { */
/*   background-color: #f0f0f0; */
/*   border-radius: 5px; */
/* } */

/* ::-webkit-scrollbar-thumb { */
/*   background-color: #888; */
/*   border-radius: 5px; */
/* } */

/* ::-webkit-scrollbar-thumb:hover { */
/*   background-color: #555; */
/* } */

/* Custom CSS end */
