/* assets */ 
@import "aos/dist/aos.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

* {
    overflow-x: hidden;
}

@font-face {
    font-family: "Primal";
   src: url("/fonts/Primal.otf") format("opentype");
}

.font-primal {
    @apply font-mono;
    font-family: "Primal";
    /* @apply tracking-tighter; */
    letter-spacing: -0.14em;

}

@supports (scroll-snap-type: y mandatory) {
    * {
        scroll-snap-type: y mandatory;
    }
}

/* scroll only snap if desktop */
@media (min-width: 1023px), (min-height: 913px)  {
    .scroll-snap {
        scroll-snap-align: center;
    }
}

body {
    transition: all 0.5s ease;
    @apply font-mono;
}

/* /1* hide blob animation on mobile *1/ */
/* @media (max-width: 1023px){ */
/*     #blob-animation { */
/*         display: none; */
/*     } */
/* } */

/* Hide scroll bar on Firefox */
* {
    scrollbar-width: none;
}
/* Hide scroll bar on Chromium */
::-webkit-scrollbar {
    display: none;
}

/* Custom CSS end */
