<div class="max-w-md px-4 mx-auto md:pt-24 md:pb-16 sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8 scroll-snap">
    <div class="lg:grid lg:grid-cols-2 lg:items-center lg:gap-24">
        <div class="mt-12 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-0 lg:grid-cols-2" data-aos="fade-right">
            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50 dark:bg-gray-900/10">
                {{ $salah := resources.Get "/images/global/salahdin-rezk.jpg" }}
                {{ $salahimage := ($salah.Resize "400x webp").RelPermalink }}
                <img class="object-cover object-center w-full h-full rounded-lg shadow-lg"
                    src="{{ $salahimage }}" alt="Salahdin Rezk">
            </div>

            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50 dark:bg-gray-900/10">
                {{ $cat := resources.Get "/images/global/mrs-cat.jpg" }}
                {{ $catimage := ($cat.Resize "400x webp").RelPermalink }}
                <img class="object-cover object-center w-full h-full rounded-lg shadow-lg"
                    src="{{ $catimage }}" alt="Mrs Cat">
            </div>

            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50 dark:bg-gray-900/10">
                {{ $younis := resources.Get "/images/global/younis-tarek.jpg" }}
                {{ $younisimage := ($younis.Resize "400x webp").RelPermalink }}
                <img class="object-cover object-center w-full h-full rounded-lg shadow-lg"
                    src="{{ $younisimage }}" alt="Younis Tarek">
            </div>

            <div class="flex justify-center col-span-1 px-8 py-8 bg-gray-50 dark:bg-gray-900/10">
                {{ $mark := resources.Get "/images/global/mark-tony.jpg" }}
                {{ $markimage := ($mark.Resize "400x webp").RelPermalink }}
                <img class="object-cover object-center w-full h-full rounded-lg shadow-lg"
                    src="{{ $markimage }}" alt="Mark Tony">
            </div>

        </div>
        <div data-aos="fade-left">
            <h2 class="pt-6 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl">
                World-Renowned Experts
            </h2>
            <p class="max-w-3xl mt-6 text-lg leading-7 text-gray-900 dark:text-white">Our team consists of world-renowned experts with extensive experience and expertise in their fields. They are at the forefront of innovation and have been recognized internationally for their contributions. Trust our team to bring unparalleled insights and solutions to your organization.</p>
            <div class="my-6">
                <a href="#" class="text-base font-medium text-primary-400 hover:text-primary-600 dark:hover:text-primary-500 transition dark:text-primary-100">
                    Meet our experts&nbsp&rarr;
                </a>
            </div>
        </div>
    </div>
</div>
